
* {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    background-image: url("./Media/background2.jpg");
    background-size: auto;
    position: absolute;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    object-fit: cover;
}

.example-container {
    text-align: center;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar ul {
    padding-left: 10px;
}

.nav-bar li {
    list-style: none;
    float: left;
    font-weight: bolder;
    padding-left: 1rem;
    padding-top: .45rem;
}

.nav-bar li a {
    text-decoration: none;
    font-size: 20px;
}

.nav-bar li :hover {
    color: orange;
}

.nav-bar h1 a:hover {
    color: orange;
}

.nav-bar nav {
    padding: 1px 1.5rem;
    display: flex;
    border-radius: 25px;
}

.about-me-info h2 {
    color: orange;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.about-me-info {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 50%;
    margin-left: 25%;
    background-color: transparent;
}

.about-me-info img {
    padding-left: 29%;
    padding-right: 29%;
    image-rendering: pixelated;
    display: flex;
    object-fit:scale-down;
}

.about-me-info p {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.contact-bar {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-bar ul {
    list-style: none;
    padding-left: 10px;
}

.contact-bar li {
    float: left;
    padding-left: 0px;
}

.contact-bar img {
    width: 50px;
}

.blur-background {
    opacity: 50;
    filter: blur(20px);
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .18);
}

.prices {
    padding: 15px;
    width: 333px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items:start;
}

.prices ul {
    list-style: none;
    padding: 0 20px;
    position: relative;
    bottom: 5rem;
}

.prices a {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.prices h3 {
    font-size: 30px;
    position: relative;
    left: 1.1rem;
    bottom: 3.7rem;
    color: #ffb200;
}

.prices h2 {
    background: -webkit-linear-gradient(#ffe798, #ffc916);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    position:fixed;
    top: 41rem;
    left: 3.25rem;
}

.prices h1 {
    font-size: 47px;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    top: 10px;
    left: 1rem;
    color: #ffb200;
}

.prices-description {
    font-size: 25px;
    color: whitesmoke;
    opacity: 75;
    text-align: left;
    text-justify:inter-word;
    /* Padding */
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    bottom: 10px;
}

.prices img {
    width: 15px;
    padding-right: 10px;
}

.prices-list {
    display: flex;
    position: relative;
    left: 370px;
}

.prices-list li {
    float: left;
    padding-left: 10px;
}

.react-player {
    border-radius: 15px;
    overflow: hidden;
}

.examplesImg {
    width: 1500px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
}

.examplesImg h1 {
    position: absolute;
    left: 20px;
    top: -.8rem;
}

.examplesImg p { /* date */
    position: absolute;
    left: 88rem;
    top: 0rem;
    font-weight: 900;
}

.examplesImg h2 {
    position: absolute;
    top: 2.5rem;
    left: 20px;
    width: 1000px;
}

.example-container {
    position: relative;
    top: 10px;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80rem;
    margin-top: 20px;
}

.example-container h3 {
    position: relative;
    top: -2.5rem;
    color: #ffb200;
}

.example-container p {
    position: relative;
    top: -4.3rem;
}

.example-container img {
    width: 600px;
    border: 2px solid rgba(255, 255, 255, .35);
    border-radius: 20px;
    position: relative;
    top: -3rem;
}

.examples-nav ul {
    padding-left: 10px;
    padding-top: 0rem;
}

.examples-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: -30px;
    font-weight: bolder;
    padding-left: 1rem;
    padding-bottom: 1px;
}
.examples-nav a {
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    position: relative;
    top: -.75rem;
    color:  seashell;
}

.examples-nav a:hover {
    color: #ffb200;
}