
* {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #354659;
    background-image: url("https://wallpaperaccess.com/full/754629.jpg");
    background-size:cover;
    position: absolute;
    background-repeat: no-repeat;
    object-fit: cover;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar ul {
    padding-left: 1448px;
}

.nav-bar li {
    list-style: none;
    float: left;
    font-weight: bolder;
    padding-left: 1rem;
    padding-top: .5rem;
}

.nav-bar li a {
    text-decoration: none;
    font-size: 20px;
}

.nav-bar li :hover {
    color: black;
}

.nav-bar nav {
    padding: 0 2rem;
    display: flex;
}
